.btn {
  transform: translateY(-4px);
  border: 0;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;

  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  &:hover > * {
    cursor: pointer;
  }
  &__search {
    border: inherit;
    font-size: inherit;
    padding: inherit;
    border-radius: inherit;
    font-family: inherit;
    margin-right: 3px;
    background-color: var(--cool-grey-light-3);
    color: var(--button-grey);
    border: 1px solid transparent;

    &:hover {
      border: 1px solid var(--cool-grey-light-2);
      box-shadow: 0px 1px 3px var(--cool-grey-light-2);
    }
  }

  &__lucky {
    border: inherit;
    font-size: inherit;
    padding: inherit;
    border-radius: inherit;
    font-family: inherit;
    margin-left: 3px;
    background-color: var(--cool-grey-light-3);
    color: var(--button-grey);
    border: 1px solid transparent;
    &:hover {
      border: 1px solid var(--cool-grey-light-2);

      box-shadow: 0px 1px 3px var(--cool-grey-light-2);
    }
  }
}
