.btn {
  transform: translateY(-4px);
  border: 0;
  font-size: 1.4rem;
  padding: 1rem 1.5rem;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  &__search {
    border: inherit;
    font-size: inherit;
    padding: inherit;
    border-radius: inherit;
    font-family: inherit;
    margin-right: 3px;
  }

  &__lucky {
    border: inherit;
    font-size: inherit;
    padding: inherit;
    border-radius: inherit;
    font-family: inherit;
    margin-left: 3px;
  }
}
