//////////////////////////
///CONTAINER

.container {
  max-width: 100%;
  height: 100vh;
}
//////////////////////////
/////HEADER

.header {
  height: 7rem;
  max-width: 100%;
}

.user-nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  display: flex;
  // flex-direction: row;
  justify-content: space-between;

  &__left {
    font-family: inherit;

    padding: 2.5rem;
    width: 30%;

    & > *:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &__about {
      font-family: inherit;
    }

    &__store {
      font-family: inherit;
      padding-left: 1.5rem;
    }
  }
  &__right {
    font-family: inherit;

    height: 7rem;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2.5rem;
    font-size: 1.3rem;
    transform: translateY(-5px);
    z-index: 1;

    & > * {
      padding: 0 0.4rem;
      cursor: pointer;
    }
    & > *:hover {
      text-decoration: underline;
    }
    &__gmail {
      font-family: inherit;
      padding-right: 1.5rem;
    }

    &__images {
      font-family: inherit;
      padding-right: 2rem;
      position: relative;
      right: 0.5rem;
    }
    &__user-photo {
      height: 3.3rem;
      width: 3.3rem;
      padding: 0;
      border-radius: 50%;
      position: relative;
      left: 1rem;

      &:hover {
        box-shadow: 0 0 0 0.5rem var(--cool-grey-light-2);
        width: 3.3rem;
        padding: 0;
      }
    }

    &__icon {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
      position: relative;
      right: 1rem;
      fill: var(--cool-grey-dark);

      &:hover {
        box-shadow: 0 0 0 0.5rem var(--cool-grey-light-2);
        background-color: var(--cool-grey-light-2);
      }
    }
  }
}

////////////////////////////
//////Main content

.content {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-direction: column;
  height: 80%;
  max-height: 100rem;
  margin-top: 6.8rem;
}
.main-logo {
  font-size: 8.5rem;

  top: 10%;
  font-family: "Product Sans";
  display: flex;
  margin-bottom: 3.2rem;
  align-items: flex-end;

  &-letters {
    font-family: inherit;
    letter-spacing: -18px;

    &__G {
      font-size: 8.5rem;
      font-family: inherit;
      font-weight: 700;
    }

    &__o {
      font-size: 8rem;
      font-family: inherit;
      font-weight: 600;
    }
    &__g {
      font-size: 8rem;
      font-family: inherit;
      font-weight: 600;
    }
    &__l {
      font-size: 8rem;
      font-family: inherit;
      font-weight: 600;
    }
    &__e {
      font-size: 8rem;
      font-family: inherit;
      font-weight: 600;
      transform: rotate(-20deg);
    }
  }
}

//////////////////////////
////Searchbar

.search {
  display: flex;
  justify-content: center;
  position: relative;
  height: 4.5rem;
  width: 100%;
  max-width: 58rem;
  margin-bottom: 3rem;

  &__input {
    max-width: 58rem;
    width: 100%;
    border-radius: 50px;
    border: 1px solid var(--cool-grey-light-2);
    height: 4.5rem;

    flex-basis: 1;

    &:hover,
    &:active,
    &:focus,
    &:after,
    &:visited {
      box-shadow: 0px 1px 8px var(--cool-grey-light-2);
      cursor: text;
      outline: none;
      padding: 0 1rem;
    }
  }
  &__icon {
    width: 0;
    border: 0;
  }
}
.icon-search {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;

  left: 1.53rem;
  top: 1.3rem;
  fill: var(--cool-grey-icon);
}
.icon-voice {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  fill: var(--google-blue);
  right: 1.58rem;
  top: 1.2rem;
  &:hover {
    cursor: pointer;
  }
}

///////////////////////////////////
/////Footer
.user-nav-bottom {
  background-color: var(--cool-grey-light);
  max-height: 4.5rem;
  height: 4.5rem;
  font-size: 1.4rem;

  position: relative;
  bottom: 3.6rem;
  width: 100%;
  display: flex;
  align-items: center;

  border-top: 1px solid var(--cool-grey-light-2);

  & > * {
    padding: 0rem 1.6rem;
    margin-top: 2px;
    color: var(--cool-grey-dark);
  }
  & > *:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  &__advertising {
    margin-left: 2rem;
  }
  &__business {
  }
  &__how-search-works {
  }
  &__privacy {
    margin-left: auto;
  }
  &__terms {
  }
  &__settings {
    margin-right: 2rem;
  }
}
