:root {
  --cool-grey-dark: rgb(97, 96, 96);
  --cool-grey-light: #f2f2f2;
  --cool-grey-light-2: #e0e2e7;
  --cool-grey-light-3: #f8f9fa;
  --cool-grey-icon: #828991;
  --google-blue: #4285f4;
  --google-green: #0f9d58;
  --google-red: #db4437;
  --google-yellow: #f4b400;
  --button-grey: #171d25;
}
